{% extends "base.html" %}
{% load school_extras %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Расписание учителей</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
          {% for field in form %}
            {{ field }}
          {% endfor %}
      </div>
  </div>

  <div id='printpart'>
   <div class="table-responsive-xl">
      <table class="table table-bordered table-sm">
        <thead>
          <tr class="table-danger">
            <th style="width: 2%" class=""></th>
            {% for day in days %}
              <th style="width: 16%" class="text-center">{{ day }}</th>
            {% endfor %}
            <th style="width: 2%" class=""></th>
          </tr>
        </thead>
        <tbody>
          {% for klass in klassy %}
            {% for urok in uroki %}
              <tr class="table-cell {% if forloop.parentloop.counter|divide:2 %} table-primary {% endif %}">
                {% if forloop.counter == 1 %}
                  <td rowspan="{{uroki.count }}" class="align-middle">{{ klass }}</td>
                {% endif %}

                {% for day in days %}
                  {% if prepod %}
                    {% selectnumprepod predmety klass urok day prepod as prdmt %}
                    <td class="text-center">
                      {% if prdmt %}
                        <b>{{ prdmt.r_predmet }}</b> (каб. {{prdmt.kabinet}})
                      {% endif %}
                    </td>
                  {% else %}
                  <td class="text-center"></td>
                  {% endif %}
                {% endfor %}

                {% if forloop.counter == 1 %}
                  <td rowspan="{{uroki.count }}" class="align-middle">{{ klass }}</td>
                {% endif %}
              </tr>
            {% endfor %}
            <thead>
          <tr class="table-danger">
            <th class=""></th>
            {% for day in days %}
              <th class="text-center">{{ day }}</th>
            {% endfor %}
            <th class=""></th>
          </tr>
        </thead>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <input type="button" value="Печать" onclick="PrintElem('#printpart', 'Расписание учителя: {{fio}}')">
  <br><br>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <script>
    $("#id_prepod").change(function(){
      var url = {% url 'teacher' %}+$('#id_prepod').val();
      document.location.href = url;
      ttt = 0;

    });
  </script>

{% endblock %} 

